.card-detail{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
}

.img{
    width: 500px;
    margin-bottom: 10px;
}
  
.card-valor{
    margin: 20px 0px 20px 0px;
    padding-left: 10px;
    text-align: start;
    font-size: 25px;
    color: #000000;
}

.card-texto{
    font-size: 30px;
    height: 30px;
    margin: 40px 0px 70px 0px;
    font-weight: bold;
}

.boton-talles{
    display: inline-block;
    margin: 0px 2px 0px 2px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    background-color: #1C1C1C;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.img-container {
    position: relative;
}

.outlet {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 0, 0, 0.767);
    color: white;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    z-index: 1;
    border-radius: 5px;
  }

  .ItemDetail-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}


.card-link-1 {
    flex: 1;
    padding: 14px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    margin: 20px 10px 0px 10px;
    border-radius: 5px;
  }
  
  .card-link-1:hover {
    background-color: #2b9222;
  }

  .card-link-2 {
    flex: 1;
    padding: 14px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    margin: 20px 10px 0px 10px;
    border-radius: 5px;
  }
  
  .card-link-2:hover {
    background-color: #227292;
  }